@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth !important;
}

/* hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

.text_color {
    color: #a8328f;
}

.bg_color {
    background-color: #a8328f;
}
.app {
    padding: 10px;
}

.circle {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 0;
    left: 0;
    opacity: 0.3;
    background-color: #a8328f;
    border-radius: 50%;
    pointer-events: none;
}

.circle.sm {
    width: 30px;
    height: 30px;
}

.circle.md {
    width: 60px;
    height: 60px;
}

.circle.lg {
    width: 90px;
    height: 90px;
}
